.header{
    height: 50px;
    background-color: black;
    width: 100vw;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.title{
    font-size: 2rem;
    font-weight: bold;
}
.title:hover{
    cursor: pointer;
}
.middle{
    width: 40vw;
}
.links{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: sans-serif;
}
li:hover{
    cursor: pointer;
}
